<%- include('./partials/head'); -%>
    <!-- =============== Navigation ================ -->
    <div class="container">
        <%- include('./partials/sidebar'); -%>
            <!-- ========================= Main ==================== -->
            <div class="main">

                <%- include('./partials/nav'); -%>
                    <!-- ======================= conteúdo do usuario ================== -->
                    <div class="cont">
                        <div class="cardHeader">
                            <!-- ======= Apresentação das Banners ======= -->
                            <div class="notices">
                                <div class="notice" id="id-banner" data-content="<%=bannerId %>"></div>
                                <div class="flex justify-center align-center">
                                    <div class="header-new">
                                        <div class="banner_header"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
    </div>
    <%- include('./partials/footer'); -%>