<%- include('./partials/head'); -%>
    <!-- =============== Navigation ================ -->
    <div class="container">
        <%- include('./partials/sidebar'); -%>
            <!-- ========================= Main ==================== -->
            <div class="main">

                <%- include('./partials/nav'); -%>
                    <!-- ======================= conteúdo do usuario ================== -->
                    <div class="news">
                        <div class="tittle">
                            
                            
                        </div>
                        <div class="cardHeader">
                            <!-- ======= Apresentação das Notícias ======= -->
                            <div class="notices">
                                <div class="notice" id="id-new" data-content="<%=idNew %>">
                                </div>

                                <div style="display: flex; justify-content: center; align-items: center;">
                                    <div class="header-new">

                                    </div>
                                </div>

                                <div class="images">
                                    <div class="new-photos-content">
                                        
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
            </div>
    </div>

    <%- include('./partials/footer'); -%>