<%- include('./partials/head'); -%>
    <!-- =============== Navigation ================ -->
    <div class="container">
        <%- include('./partials/sidebar'); -%>
            <!-- ========================= Main ==================== -->
            <div class="main">

                <%- include('./partials/nav'); -%>
                    <!-- ======================= conteúdo do usuario ================== -->
                    <div class="news">
                        <div class="tittle">
                            <h3>Adicione ou edite as notícias do site</h3>
                            <button id="myBtn" class="btn">Adicionar Nova Notícia</button>
                        </div>
                        <div class="cardHeader">
                            <!-- ======= Modal para criação do usuário ======= -->
                            <%- include('./partials/components/modal-cadastro'); -%>
                            </div>
                        </div>
                        <!-- ======= Apresentação das Notícias ======= -->
                        <% if(params.page == "listar") { %>
                        <div class="notices">
                            <div class="notice">
                                <div class="tableNews">
                                    <h1>Noticias Cadastradas</h1>
                                    <table id="newsList">
                                        <tr>
                                            <th>ID</th>
                                            <th>CAPA</th>
                                            <th>TITULO</th>
                                            <th>TIPO</th>
                                            <th>DATA DE PUBLICAÇÃO</th>
                                            <th colspan="3" style="text-align: center;">AÇÃO</th>
                                        </tr>                                        
                                    </table>
                                    
                                </div>
                            </div>
                        </div>
                        <% } %>

                        <% if(params.page == "deletar" && params.id) { %>
                            <%- include('./partials/components/modal-delete'); -%>
                        <% } %>

                        <% if(params.page == "editar" && params.id) { %>
                            <%- include('./partials/components/modal-edit'); -%>
                        <% } %>
                    </div>
            </div>

            <%- include('./partials/footer'); -%>