<%- include('./partials/head'); -%>
    <!-- =============== Navigation ================ -->
    <div class="container">
        <%- include('./partials/sidebar'); -%>
            <!-- ========================= Main ==================== -->
            <div class="main">
                <%- include('./partials/nav'); -%>
                    <!-- ======================= conteúdo do usuario ================== -->
                    <div class="cont">
                        <div class="navigationTab">
                            <div>
                                <% if(session.type != "admin"){%>
                                    <a href="user">Utilizadores do Sistema</a>
                                <%} %>
                                <% if(session.type == "admin"){%>
                                    <a href="user">Gestão de usuários</a>
                                    <a href="accesslevel">Níveis de Acesso</a>
                                <%} %>
                            </div>
                            <% if(session.type == "admin"){%>
                                <button id="myBtn">Adicionar Novo Usuário</button>
                            <%} %>
                        </div>
                        <div class="cardHeader">
                            <!-- ======= Modal para criação do usuário ======= -->
                            <%- include('./partials/components/user/modal-register-user'); -%>
                        </div>
                        <% if(session.type == "admin"){%>
                            <div class="userTable">
                                <h1>Usuários Cadastrados</h1>
                                <table id="user-list-admin">
                                    <tr>
                                        <th>ID</th>
                                        <th>FOTO DE PERFIL</th>
                                        <th>NOME</th>
                                        <th>EMAIL</th>
                                        <th>NÍVEL DE ACESSO</th>
                                        <th colspan="2" style="text-align: center;">AÇÕES</th>
                                    </tr>
                                </table>
                            </div>
                        <%} else {  %>
                            <div class="userTable">
                                <h1>Usuários Cadastrados</h1>
                                <table id="userList">
                                    <tr>
                                        <th>ID</th>
                                        <th>FOTO DE PERFIL</th>
                                        <th>NOME</th>
                                        <th>EMAIL</th>
                                        <th>NÍVEL DE ACESSO</th>
                                    </tr>
                                </table>
                            </div>
                        <%} %>

                                    
                    </div>
        <% if(params.page == "deletar" && params.id) { %>
            <%- include('./partials/components/user/modal-delete-user'); -%>
        <% } %>
        <%- include( './partials/footer'); -%>