<%- include('./partials/head'); -%>
    <!-- =============== Navigation ================ -->
    <div class="container">
        <%- include('./partials/sidebar'); -%>
            <!-- ========================= Main ==================== -->
            <div class="main">

                <%- include('./partials/nav'); -%>
                    <!-- ======================= conteúdo do usuario ================== -->
                    <div class="cont">
                            <div class="navigationTab">
                                <div>
                                </div>
                                <button id="myBtn">Adicionar Novo vídeo </button>
                            </div>
                                <div class="cardHeader">
                                    <!-- ======= Modal para criação do usuário ======= -->
                                    <%- include('./partials/components/video/modal-register-video'); -%>
                                </div>

                                <% if(params.page == "listar") { %>
                                    <div class="videoTable">
                                        <h1>Vídeos Cadastrados</h1>
                                        <table id="video-list">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>CAPA</th>
                                                    <th>TÍTULO</th>
                                                    <th>ID DO VÍDEO</th>
                                                    <th>INSERIDO POR:</th>
                                                    <th colspan="2" style="text-align: center;">AÇÕES</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                            </tbody>
                                        </table>

                                    </div>
                                <% } %>
                                
                                <% if(params.page == "editar" && params.id) { %>
                                    <%- include('./partials/components/video/modal-edit-video'); -%>
                                <% } %>
                                
                                <% if(params.page == "deletar" && params.id) { %>
                                    <%- include('./partials/components/video/modal-delete-video'); -%>
                                <% } %>
  
                    </div>
            </div>
    </div>

    <%- include('./partials/footer'); -%>